@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
box-sizing: none;
padding:0;
margin: 0;
}

a {
  text-decoration: none;
  color: lightgray;

}

body {
  margin: 0;
  font-family: 'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

